body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

select, input {
    margin-top: 5px;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.custom-dropdown {
    position: relative;
    margin-top: 10px;
    width: 80%;
}

#dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#selectedValue {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-options {
    display: none;
    border-top: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.dropdown-options div {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-options div:hover {
    background-color: #f0f0f0;
}

.dropdown-options svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
